<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go+Gin+HTMX+Supabase</title>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
</head>
<body hx-swap="outerHTML">
    <form hx-post="/books" hx-trigger="submit" hx-swap="outerHTML">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author"><br>
        <label for="price">Price:</label><br>
        <input type="number" id="price" name="price"><br>
        <input type="submit" value="Submit">
    </form>

    <div id="book-list" hx-get="/books" hx-trigger="revealed">

    </div>
</body>
</html>