<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
<table>

    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {{range .books}}
        <tr>
            <td>{{.Title}}</td>
            <td>{{.Author}}</td>
            <td>{{.Price}}</td>
            <td><a href="/edit/{{.ISBN}}">edit</a></td>
            <!-- <td><button hx-get="/edit/{{.ISBN}}">edit</button></td> -->
            <td><button hx-post="/delete/{{.ISBN}}" hx-confirm="Are you sure you want to delete this book?" hx-swap="none">delete</button></td>

        </tr>
        {{end}}
    </tbody>
</table>