<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Book</title>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
    {{template "navbar"}}

    <form id="updateForm" hx-post="/update/{{.book.ISBN}}" hx-swap="none">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" value="{{.book.Title}}"><br>
        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author" value="{{.book.Author}}"><br>
        <label for="price">Price:</label><br>
        <input type="text" id="price" name="price" value="{{.book.Price}}"><br>
        <label for="isbn">ISBN:</label><br>
        <input type="text" id="isbn" name="isbn" value="{{.book.ISBN}}"><br>
        <input type="submit" value="Update">
        <a href="/list">go back</a>
    </form>
</body>
</html>